<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Recipe Archive</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="{{ 'dist/styles.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
  {% include header.html %}
  <main>
    <div class="bg-yellow mt-5">
      <div id="search-results" class="text-block mx-auto"></div>
    </div>
    {{ content }}
  </main>
  {% capture jsonUrl %}{{ 'recipes.json' | absolute_url }}{% endcapture %}
  <script>
    window.jsonUrl = "{{ jsonUrl }}";
    window.envUrl = "{{ '' | absolute_url }}"
  </script>
  <script src="{{ 'dist/main.js' | absolute_url }}"></script>
</body>
</html>