---
layout: base
---

<div class="container-fluid home-hero">
  <div class="container bg-fruits">
    <div class="row">
      
    </div>
  </div>
  <div class="site-title">
    <h1 class="display-4">Recipe Archive</h1>
    <p class="lead">A modern version of grandmas old and worn recipe notebook.</p>
  </div>
</div>

<div class="container recipe-list">
  <div class="row justify-content-center">
    <div class="col d-flex flex-column align-items-center mt-5">
      {% for recipe in site.recipes %}
        <a href="{{ recipe.url }}" class="recipe">
          <h2>{{ recipe.title }}</h2>
          <p class="lead">
              {{ recipe.content | truncate:100 | markdownify }}
          </p>
            {% for category in recipe.category %} 
              <p class="badge">{{ category }}</p>
            {% endfor %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
