$header-height: 150px;

header {
  height: calc(#{$header-height} + 30px);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90px;
}

#header-bg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.header-bg-stripe {
  display: inline-block;
  border-right: 2px solid $pink;
  height: $header-height;
  transform: rotate(45deg) scale(1.5);
}

#search {
  transform: translateY(33px);
  border: 0;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  height: 50px;
  width: 320px;
  background-color: white;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(sm) {
    width: 380px;
  }
  
  button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  img {
    transform: rotate(45deg) translateY(-3px);
    width: 45px;
  }
}

#search-input {
  border: 0;
  height: 100%;
  width: 80%;
}