.post-header {
  border-bottom: 5px $yellow solid;
}

p { font-weight: 100; }

li {
  list-style: none;

  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 2px solid #343a40;
    transform: rotate(45deg);
    margin: 0 .8rem 0.07rem -1rem;
  }
}

