$purple: #cab6ef;
$pink: #ffe1cc;
$yellow: #e5f86b;
$blue: #3733bb;
$gray-600: #989393;

// $map2: (
//   'salmon': #f573a0,
//   'violet': #c65dcb
// );

// $colors: map-merge($colors, $map2);

$border-width: 2px;
$headings-font-weight: 300;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

@import "header";
@import "list";
@import "recipe";

$headings-font-family: 'Roboto';
$font-family-base: 'Open Sans';

$box-shadow: 4px 4px 20px -2px $gray-600;

@each $color, $value in $colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $colors {
  .border-#{$color} {
    border-color: $value !important;
    transition: background-color 150ms ease-in;
    
    &:hover {
      background-color: $value;
    }
  }
}

main {
  margin-top: 5rem;

  .text-block {
    @include media-breakpoint-up(md) {
      max-width: 650px;
    }
  }
}

//use focus-visible and its polyfill
*:focus {
  outline: none !important;
}
