$purple: #cab6ef;
$pink: #ffe1cc;
$yellow: #e5f86b;
$shadow-gray: #989393;

$border-width: 2px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

@import "header";
@import "list";
@import "recipe";

$headings-font-family: 'Roboto';
$font-family-base: 'Open Sans';
$headings-font-weight: 300;
$h1-font-size: 3rem;

$box-shadow: 4px 4px 20px -2px $shadow-gray;

@each $color, $value in $colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $colors {
  .border-#{$color} {
    border-color: $value !important;
    transition: background-color 150ms ease-in;
    
    &:hover {
      background-color: $value;
    }
  }
}