a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 100;
  transition: all 180ms ease-in;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}
a:hover {
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 4px 10px 20px -2px #989393;
  color: currentColor;
}
h2 {
  margin-bottom: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.body {
  margin-bottom: 1rem;
}
.badge {
  padding: .3rem .9rem;
  display: inline-block;
  font-size: var(--small-font-size);
  margin: 1rem .5rem 0 0;
  border-radius: 2px;
  font-weight: 600;
  transition: background-color 150ms ease-in;
  border: 2px solid;
}
.cooking-time {
  border-color: var(--purple);
}
.cooking-time:hover {
  background-color: var(--purple);
}
.cooking-time::after {
  display: inline;
  content: 'min';
}
.category {
  border-color: var(--yellow);
}
.category:hover {
  background-color: var(--yellow);
}
.tag {
  border-color: var(--pink);
}
.tag:hover {
  background-color: var(--pink);
}